@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
}

.navbar-container {
  display: flex;
}

.logo {
  margin-left: 2rem;
  margin-top: 2rem;
}

.list {
  display: flex;
  list-style-type: none;
  margin-left: 40rem;
  margin-top: 2rem;
  color: #ffffff;
  cursor: pointer;
}

.list-item {
  margin-left: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* Banner-section */

.banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-img {
  width: 90%;
  margin-left: 4rem;
}

.hero-div {
  color: #ffffff;
  margin-top: 13rem;
  font-family: "Poppins", sans-serif;
}

.hero-heading {
  color: #ff5c33;
  font-size: 1.4rem;
}

.heading-text {
  font-size: 4.3rem;
  font-weight: 800;
}

.description {
  font-size: 1.5rem;
}

.btn {
  margin-top: 2rem;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d82e2f;
  cursor: pointer;
}

.box {
  position: absolute;
  background-color: #131010;
  width: 53rem;
  height: 560px;
  left: -200px;
  top: 765px;
  z-index: -1;
}

/* Cards */
.cards {
  background-color: #000000;
  display: flex;
  color: #ffffff;
  margin-top: 13rem;
  margin-left: 16rem;
}

.card-logo {
  width: 30%;
}

.card {
  background-color: #131010;
  border-width: 1px;
  margin-left: 1rem;
  padding: 3rem 2rem;
}

.card-active {
  background-color: #c92222;
  /* background-color: #ff5c33; */
}

.card-head {
  padding-top: 12px;
}

.card-body {
  padding-top: 12px;
}

.cards .card .service-btn {
  margin-top: 29px;
  border: none;
  background-color: transparent;
  color: #d82e2f;
  text-transform: uppercase;
  cursor: pointer;
}

.active-btn {
  color: #ffffff;
}

.fa-arrow-right {
  color: #d82e2f;
}

.active-arrow {
  color: #ffffff;
}

/* Service-starts-experience */

.service-starts {
  color: #ffffff;
  display: flex;
  margin-top: 7rem;
}

.left {
  margin-left: 10rem;
  margin-top: 3rem;
  background-color: #131010;
  border-width: 2px solid white;
  padding: 3.5rem 3rem;
  font-size: 22px;
  margin-bottom: 2rem;
}

.service-starts .left h1 {
  color: #d82e2f;
}

.right {
  display: flex;
  align-items: center;
  margin-left: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service-starts .right .service-card h1 {
  color: #d82e2f;
}

.service-card {
  margin: 2rem 2rem;
  background-color: #131010;
  border-width: 2px solid white;
  padding-left: 2.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 6px;
}

/* Featured-projects */
.feature-proj {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
}

.view-button {
  padding: 7px 1.5rem;
  background-color: #ff5c33;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

/* project-cards */

.project-cards {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 12rem;
  margin-top: 4rem;
  background-color: #131010;
}

.project-card {
  margin-top: 3rem;
  width: fit-content;
}

.project-img {
  width: 70%;
}

.project-img-heading {
  margin-top: 2rem;
}

.proj-button {
  background: transparent;
  color: #d82e2f;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

/* Contact-Section */
.contact-section {
  display: flex;
  color: #ffffff;
  margin-top: 6rem;
  gap: 9rem;
  height: 30vh;
}

.contact-section {
  background-color: #131010;
  padding: 10px 10px;
}

.contact-heading {
  margin-left: 12rem;
}

.visit-btn {
  position: relative;
  padding: 5px 1.5rem;
  left: 50rem;
  bottom: 6rem;
  background-color: #ff5c33;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

/* Footer-section */

.footer-nav ul {
  color: #ffffff;
  margin-left: 4rem;
  margin-top: 4rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer-wrapper {
  margin-top: 2rem;
  background-color: #131010;
  height: 25vh;
}

.footer-logo {
  margin-left: 4rem;
  margin-top: 2rem;
  padding-top: 2rem;
}

.social-icons {
  position: relative;
  bottom: 1rem;
  margin-left: 40rem;
  display: flex;
  gap: 2rem;
}
